.pitchRelease3D-font {
    font-family: "Trebuchet MS", "Lucida Grande","Verdana", "Lucida", "Geneva", "Helvetica","Arial","sans-serif";
}
.pitchReleaseThreeD-title {
    display: block;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    color: #555;
    font-size: 2em;
}
.pitchReleaseThreeD-title-sub {
    display: block;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    color: #555;
    font-size: 1.5em;
}
.pitchReleaseThreeD-selector-parent {
    display: block;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    color: DimGray;
    font-size: 1em;
    margin: 5px;
    width: 100%;
}
.pitchReleaseThreeD-selector{
    display: block;
    font-size: 1em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-right: 10px;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
}
.pitchReleaseThreeD-shadowed {
    filter: shadow(3px 3px 6px rgba(0,0,0,0.5));
    -moz-filter: shadow(3px 3px 6px rgba(0,0,0,0.5));
    -webkit-filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.5));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=3, Color=\'#444\')";
}

.pitchReleaseThreeD-light-shadowed {
    filter: shadow(3px 3px 6px rgba(0,0,0,0.25));
    -moz-filter: shadow(3px 3px 6px rgba(0,0,0,0.25));
    -webkit-filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.25));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=3, Color=\'#444\')";
}

.pitchReleaseThreeD-label {
    text-align: left;
    display: block;
    font-size: 1em;
    margin-bottom: 5px;
}
.pitchReleaseThreeD-selector-div{
    display: inline-block;
    margin: 5px;
}

.pitchReleaseThreeD-back-div {
    position:absolute;
    left: 5px;
    top: 5px;
}
.pitchReleaseThreeD-back-arrow {
    display: inline-block;
    vertical-align: middle;
    cursor: auto;
}
.pitchReleaseThreeD-back-arrow:hover {
    cursor: pointer;
}

.pitchReleaseThreeD-back-label {
    display: inline-block;
    vertical-align: middle;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}
.container {
    position: relative;
    display: block;
}

.pitchReleaseThreeD-button {
    cursor: auto;
    background-color: antiquewhite;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
}

#pitchReleaseThreeD-button-div {
    top: 5px;
    right: 5px;
    position: absolute;
}

.pitchReleaseThreeD-button:hover {
    cursor: pointer;
}

.pitchReleaseThreeD-secondary-title {
    display: block;
    horiz-align: center;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    font-size: 2em;
    color: #212121;
}

.clicky {
    /** Offset the Position **/
    position: relative;
    top: 0;
    margin-top: 0;
    margin-left: 5px;
    margin-bottom: 5px;

    /** 3D Block Effect **/
    box-shadow: 0 5px 0 0 #777;

    /** Make it look pretty **/
    display: block;
    background: #aaa;
    color: #000;
    padding: .25em .5em;
    border: 0;
    cursor: pointer;
    font-size: 1em;
    opacity: 0.9;
    border-radius: 10px;
}

.clicky:active {
    /** Remove 3D Block Effect on Click **/
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 5px;
}

.clicky:hover {
    opacity: 1;
}

.clicky:active,
.clicky:focus {
    /** Remove Chrome's Ugly Yellow Outline **/
    outline: 0;
}

* {
    box-sizing: border-box;
    font-family: helvetica,arial,sans-serif;
}

html {
    height: 100%;
    background: radial-gradient(at top,#f2f2f2,#fafafa 50%) no-repeat;
}

.switch {
    display:inline-block;
    opacity: 1;
    height: 1px;
    margin:0;
    padding:0;
    width:1px;
}

.switch > div {
    width: 75px;
    height: 35px;
    background: #9A9A9A;
    z-index: 0;
    cursor: pointer;
    position: relative;
    border-radius: 50px;
    line-height: 40px;
    text-align: right;
    padding: 0 0;
    margin:0 !important;
    color: rgba(0,0,0,.5);
    transition: all 250ms;
    box-shadow: inset 0 3px 15px -3px
}

.switch > input:checked + div {
    background: limegreen;
    text-align: left;
    color: rgba(255,255,255,.75);
}

.switch > div:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 32px;
    width: 32px;
    background: linear-gradient(#E3E3E3 30%,#DCDCDC);
    border-radius: 50%;
    transition: all 200ms;
    box-shadow: 0 15px 15px -3px rgba(0,0,0,.25), inset 0 -2px 2px -3px,  0 3px 0 0px #DCDCDC;
}

/*
.switch > div:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 8px;
    top: 8px;
    height: 22px;
    width: 22px;
    background: linear-gradient(#DCDCDC,#E3E3E3);
    border-radius: 50%;
    transition: all 200ms;
}

.switch > input:checked + div:after {
    left: 52px;
}
*/

.switch > input:checked + div:before {
    content: '';
    position: absolute;
    left: 45px;
    border-radius: 50%;
}
